---
import GetStarted from "./GetStarted.astro";
---

<section class="flex gap-7 flex-col items-center px-10 py-25 bg-[#3b3054] bg-[url(/bg-boost-mobile.svg)]">
  <h2 class="text-white text-2xl text-center font-bold">Boost your links today</h2>
  <GetStarted />
</section>