---
import GetStarted from "./GetStarted.astro";
---

<section class="flex gap-6 flex-col items-center px-10 py-30 md:py-11 bg-violet-brand bg-[url(/bg-boost-mobile.svg)] md:bg-[url(/bg-boost-desktop.svg)] md:bg-cover bg-no-repeat bg-cover">
  <h2 class="text-white text-3xl text-center font-bold">Boost your links today</h2>
  <GetStarted />
</section>