---
import { Icon } from 'astro-icon/components';
import SocialMedia from './SocialMedia.astro';
const footerLinks = [
  {
    category: 'Features',
    links: [
      {
        name: 'Link Shortening',
        url: '#'
      },
      {
        name: 'Branded Links',
        url: '#'
      },
      {
        name: 'Analytics',
        url: '#'
      },
    ]
  },
  {
    category: 'Resources',
    links: [
      {
        name: 'Blog',
        url: '#'
      },
      {
        name: 'Developers',
        url: '#'
      },
      {
        name: 'Support',
        url: '#'
      },
    ]
  },
  {
    category: 'Company',
    links: [
      {
        name: 'About',
        url: '#'
      },
      {
        name: 'Our Team',
        url: '#'
      },
      {
        name: 'Careers',
        url: '#'
      },
      {
        name: 'Contact',
        url: '#'
      },
    ]
  },
];
---

<footer class="bg-very-dark-violet p-13 w-full">
  <div class="max-w-5xl mx-auto w-full flex gap-10 flex-col items-center md:flex-row md:items-start md:justify-between">
    <Icon name="logo" class="min-w-35 md:min-w-25 h-auto text-neutral-200" />

    <div class="flex flex-col md:flex-row gap-10">
      <div class="flex flex-col md:flex-row gap-10">
        {footerLinks.map(element =>
          <div class="flex flex-col items-center md:items-start gap-5">
            <p class="text-neutral-200 font-bold md:text-sm">{element.category}</p>
            <div class="flex flex-col items-center md:items-start gap-2">
              {element.links.map(e =>
                <a href={e.url} class="text-grayish-violet md:text-sm hover:text-cyan-brand transition">{e.name}</a>
              )}
            </div>
          </div>
        )}
      </div>
    
      <SocialMedia />
    </div>
  </div>
</footer>