---
import { Icon } from 'astro-icon/components';
import GetStarted from './GetStarted.astro';
---

<section class="flex gap-7 flex-col items-center px-5">
  <Icon name="illustration-working" class="size-full" />
  <h1 class="text-neutral-700 text-4xl text-center font-bold">More than just shorter links</h1>
  <p class="text-neutral-400 text-center text-lg">Build your brand's recognition and get detailed insights on how your links are performing.</p>
  <GetStarted />
</section>