---
import { Icon } from 'astro-icon/components';
const socialMedia = [
  {
    icon: 'icon-facebook',
    url: '#'
  },
  {
    icon: 'icon-twitter',
    url: '#'
  },
  {
    icon: 'icon-pinterest',
    url: '#'
  },
  {
    icon: 'icon-instagram',
    url: '#'
  },
]
---

<div class="flex gap-5 p-0 md:p-0">
  {socialMedia.map(element =>
    <a href={element.url}>
      <Icon name={element.icon} class="size-6 md:size-5 text-white hover:text-cyan-brand transition" />
    </a>
  )}
</div>